/* This stylesheet used in IE6, IE7 and IE8 only. */
#topbox {
	padding: 6px 15px 1px;
}

#topbox .subscribe {
	_margin-right: -7px;
}

#content .post .morelink {
	display: none;
}

.post .post-meta {
	margin-bottom: 20px;
}

#content {
	_width: 622px;
}

#content .post .post-content {
	_width: 590px;
}

#left-sidebar .widget ul li {
	width: 198px;
}
#left-sidebar .widget ul li a {
	width: 188px;
}

#right-sidebar .widget ul li {
	width: 146px;
}
#right-sidebar .widget ul li a {
	width: 136px;
}

.sidebar .widget p.browser {
	_margin-bottom: 10px;
	_color: #9e0b0f;
}

#searchbox .searchfield {
	width: 110px;
}

#searchbox .searchbutton {
	padding: 3px 1px 4px;
}

#content .post .post-content .blogroll {
	margin: 0 0 20px;
	_margin: 0 0 20px;
	width: 600px;
}

#content .post .post-content .blogroll ul li {
	width: 180px;
	line-height: 1.5;
}

.re_icon {
	_right: 15px;
}

#commentlist li ul.children li .re_icon {
	_right: 30px;
}

#commentlist li ul.children li ul.children .re_icon {
	_right: 40px;
}

#commentlist li ul.children li ul.children li ul.children .re_icon {
	_right: 50px;
}

#commentlist li ul.children li ul.children li ul.children li ul.children .re_icon {
	_right: 60px;
}

#comment-personaldetails p label {
	margin-bottom: 8px;
	display: inline-block;
}
pre {
    *white-space: pre;
    *word-wrap: break-word;
}
/* Font Icons */
.icon-chat {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe600;');
}
.icon-download {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe601;');
}
.icon-user {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe602;');
}
.icon-cog {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe603;');
}
.icon-list {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe604;');
}
.icon-share {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe605;');
}
.icon-pencil {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe606;');
}
.icon-info {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe607;');
}
.icon-link {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe608;');
}
.icon-search {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe609;');
}
.icon-heart {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60a;');
}
.icon-star {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60b;');
}
.icon-feed {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60c;');
}
.icon-help {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60d;');
}
.icon-users {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60e;');
}
.icon-trashcan {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60f;');
}
.icon-pencil2 {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe610;');
}
.icon-unlocked {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe611;');
}
.icon-images {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe612;');
}
.icon-article {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe613;');
}
.icon-tag {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe614;');
}
.icon-archive {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe615;');
}
.icon-calendar {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe616;');
}
.icon-comment {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe617;');
}
.icon-earth {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe618;');
}