/* Apply global styles */
* {
	margin: 0;
	padding: 0;
}

::selection {
	color: #fff;
	background: #1ba1e2;
	text-shadow: none;
}

::-moz-selection {
	color: #fff;
	background: #1ba1e2;
	text-shadow: none;
}

body {
	background-color: #eee;
	font: 13px/1.5 "Lucida Grande", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	color: #222;
}

a:link,
a:visited,
a:active {
	color: #1ba1e2;
	text-decoration: none;
}

a:hover {
	color: #f9962b;
}

i {
	color: #0093F0;
}

abbr[title],
acronym[title] {
	border-bottom: thin dotted;
	cursor: help;
}

h1 {
	font-size: 180%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 130%;
}

h4 {
	font-size: 120%;
}

h5 {
	font-size: 110%;
}

h6 {
	font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display: block;
}

small {
	font-size: 10px;
}

strong {
	font-weight: bold;
}

blockquote {
	padding: 10px;
	color: #555;
	background: #F4F5F7;
	border: 1px dashed #DEE9F6;
	font-size: 13px;
	margin: 10px 0 10px 10px;
	position: relative;
}

blockquote::before {
	content: '“';
	position: absolute;
	font-size: 32px;
	left: -15px;
	top: -5px;
}

blockquote::after {
	content: '”';
	position: absolute;
	right: -15px;
	bottom: -22px;
	font-size: 32px;
}

blockquote p {
	margin-bottom: 0 !important
}

pre {
	padding: 10px;
	margin: 10px 0 10px 10px;
	border: 1px dotted #7BA54E;
	background: #f5f5f5;
	font-family: "Courier New",monospace;
	font-size: 13px;
	overflow: auto;
	clear: both;
}

pre code {
	color: #000;
	font: 12px consolas, monaco, courier new,courier, monospace;
	word-wrap: break-word;
	white-space: pre-wrap;
	overflow-x: auto;
	border: none;
	padding: 0;
	margin: 0;
	position: inherit;
}

code {
	border: 1px dotted #7BA54E;
	font: 12px consolas, monaco, courier new,courier, monospace;
	background: #f5f5f5;
	padding: 2px 5px;
	position: relative;
	top: -3px;
	margin: 5px;
}

ul {
	list-style: none;
	list-style-position: outside;
}

img {
	border-style: none;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft {
	margin: 0 15px 0 0;
}

img.alignright {
	margin: 0 0 0 15px;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.box {
	background-color: #fff;
	margin: 5px;
	box-sizing: border-box;
	position: relative;
	border-radius: 3px;
}
/* */
#header {
    background-color: #1ba1e2;
    width: 100%;
    z-index: 777;
    top: 0;
    left: 0;
    position: fixed;
    box-shadow: 0 1px 10px rgba(0,0,0,.5);
}
#header.nosidebar {
    max-width: 690px;
    margin: auto;
}
#body {
    margin-top: 65px;
}
.site-name {
	margin-right: 15px;
}

#logo {
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    display: block;
    height: 60px;
    border-right: 1px solid #ddd;
    overflow: hidden;
    padding: 0 30px 0 35px;
    letter-spacing: .1em;
    font-family: "Droid Serif",Georgia,"Times New Roman",STHeiti,serif;
}

#logo:hover {
	color: #fff;
	;background-color: #5b6064
}

.description {
	margin: .5em 0 0;
	color: #999;
	font-style: italic;
}

#navbar {
}

.nav-menu .icon {
	padding: 10px 5px;
	margin: 5px;
}

.nav-menu .icon::before {
	font-size: 2em;
	cursor: pointer;
}

#site-menu {
    display: block;
}

#site-menu a, #site-menu i {
	color: #fff;
}

#site-menu i {
	font-size: 100%;
}

#site-menu a {
	height: 100%;
	line-height: 100%;
	color: #fff;
	font-size: 20px;
	padding: 18px 0;
	display: block;
}

#site-menu li {
	list-style: none;
	display: inline-block;
	height: 48px;
	margin-right: 10px;
	line-height: 52px;
	box-sizing: border-box;
}

#site-menu li.current {
	border-bottom: 5px solid #fff;
}

#site-menu li:hover {
	border-bottom: 5px solid #fff;
}

#right-menu li {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	height: 8px;
}
.mobile-menu::before {
	content: '\f0c9';
	font: normal normal normal 14px/1 FontAwesome;
	color: #fff;
	position: relative;
	right: 0;
	top: 0;
}

.search::before {
	content: '\f002';
	font: normal normal normal 14px/1 FontAwesome;
	color: #fff;
	position: relative;
	right: 0;
	top: 0;
}

#s {
	font-size: 22px;
	background: transparent;
	outline: none;
	border: 0;
	border-bottom: 3px solid #fff;
	color: #fff;
	line-height: 57px;
	-webkit-transition: .3s;
	transition: .3s;
	width: 0;
	height: 37px;
}

#s:focus {
	width: 200px;
	margin-right: 15px;
	opacity: 1
}

.submit.icon {
	border: 0;
	background: transparent;
	box-shadow: unset;
	outline: none;
}

#search-form {
	top: 0;
	right: 0;
	display: block;
	height: 100%
}

#search-form label {
	cursor: pointer;
}

#search-form .search-submit {
	display: none
}

#main {
	width: 100%;
}
#main.full-width {
	width: 100% !important;
}
.post {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.post-cover img, a.post-cover {
	display: block;
	width: 100%;
}

.hentry {
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
	clear: both;
}

.hentry .entry-header,.hentry .entry-summary {
	padding: 15px 20px 0;
	overflow: hidden;
}

.entry h1 {
	margin: 0;
}

.entry-header {
	padding: 15px 20px;
}
.entry-header, .entry-summary,.entry-content {
	word-wrap: break-word;
	white-space:normal;
}
.entry .entry-header {
	background: #fafafa;
	border-bottom: 1px dotted #CCC;
}

.entry-title {
	margin: 0;
	font-weight: 400;
	font-size: 1.7em;
}

.entry-summary {
	color: #666;
}

.entry-summary, .entry-content {
	padding: 15px 20px;
	overflow: hidden;
}

.entry-content h1 {
	border-bottom: 3px solid #1ba1e2;
	padding: 5px 15px;
	margin: 5px 0;
}

.entry-content h2 {
	border-bottom: 2px solid #1ba1e2;
	padding: 5px 15px;
	margin: 5px 0;
}

.entry-content h3 {
	border-bottom: 1px solid #1ba1e2;
	padding: 2px 10px;
	margin: 5px 0;
}

.entry-content h4,.entry-content h5,.entry-content h6 {
	border-bottom: 1px solid #1ba1e2;
	padding: 1px 10px;
	margin: 3px 0;
}

.entry-content p {
	font-size: 16px;
	color: #333;
	padding: 5px 0;
	margin: 0 0 1em 10px;
}
.entry-content ol {
    margin: 10px 10px 10px 10px;
}
.entry-content ol li {
    margin-left: 20px;
}
.entry-footer {
	position: relative;
	padding: 15px 20px;
	min-height: 1.5em;
	height: auto !important;
	height: 1.5em;
}

.morelink {
	float: right;
}

.entry-footer .copyright {
	margin: 5px 0 10px;
}

.entry-meta {
	margin-top: .5em;
	color: #aaa;
}

.entry-meta li {
	display: inline-block;
}

.entry-meta a {
	color: #aaa;
}

.tags-links {
	font-size: 12px;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	transition: opacity .3s
}

.tags-links a {
	margin-right: .5em;
	padding: 2px 4px;
	margin: 2px;
	border-radius: 2px;
	background: #ccc;
	color: #fff;
	-webkit-transition: background .3s;
	-moz-transition: background .3s;
	transition: background .3s
	display: inline-block;
}

.tags-links a:before {
	content: "#"
}

.tags-links a:hover {
	background: #aaa
}

.entry-near li {
	padding: 5px 0;
}

.entry-near {
	margin: 5px;
}

#left-sidebar {
	width: 190px;
	display: none;
}

#right-sidebar {
	width: 270px;
	display: none;
}

.archive-title {
	color: #999;
	font-size: 1em;
	padding: 5px;
}

.more {
	text-align: center;
}

.more a {
	border: none;
}

.protected .text {
	width: 50%;
}

.page-navi {
	text-align: center;
	margin: 2em;
}

.page-navigator {
	display: inline-block;
	border-radius: 3px;
	background: #fff;
	color: #aaa;
}

.page-navigator li {
	display: inline-block;
	margin: 0 4px;
}

.page-navigator a {
	display: inline-block;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	background: #fff;
}

.page-navigator a:hover {
	background: #f0f0f0;
	text-decoration: none;
}

.page-navigator .current a {
	background: #1ba1e2;
	color: #fff;
}

.comments-title {
	margin: 1em 0px;
	font-size: 40px;
	font-weight: 400;
	color: #222;
	text-align: center;
}

.comment-list {
	list-style: none;
}

.comment-body {
	position: relative;
	min-height: 60px;
}

.comment-main {
	margin-left: 54px;
	padding: 10px;
}

.comment-main>p {
	display: inline;
}

.comment-list {
	margin: 5px;
	background: #fff;
	padding: 10px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.comment-list .avatar {
	float: left;
	height: 48px;
	width: 48px;
	border-radius: 50%;
	margin-top: 10px;
}

.logged-in {
	margin-bottom: 8px;
}

#author,#url,#mail {
	width: 150px;
	height: 38px;
	padding: 0px 10px;
	border: 0px none;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	margin-bottom: 5px;
}

#comment-form {
	margin: 10px;
}

#textarea {
	width: 90%;
	width: calc(100% - 20px);
	height: 80px;
	border: 0;
	background: #FFF none repeat scroll 0% 0%;
	border-radius: 2px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	padding: 10px;
	resize: none;
}

.cancel-comment-reply {
	float: right;
}

#misubmit {
	width: 48px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	border: 0px none;
	color: #FFF;
	padding: 0px;
	margin-top: -30px;
	height: 48px;
	float: right;
	overflow: hidden;
	background: #1ba1e2 none repeat scroll 0% 0%;
	border-radius: 50%;
	position: relative;
}

#misubmit::after {
	content: "✚";
	font-size: 2em;
	position: relative;
}

.widget-title {
	margin: 0px;
	padding: 5px;
	border-bottom: 1px dotted #CCC;
	background: #fafafa;
}

.widget-list li {
	padding: 8px;
	border-bottom: dashed 1px #ddd;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

.widget-list-breakword li {
	padding: 8px;
	border-bottom: dashed 1px #ddd;
	position: relative;
	word-wrap: break-word;
}

.comment-author .avatar {
	float: left;
	margin-top: 4px;
	margin-right: 4px;
}

#footer {
	clear: both;
	margin: 0px auto;
	padding: 2em 0px;
	border-top: 3px solid #DDD;
	color: #999;
	text-align: center;
	font-size: 12px;
}

.fixed-btn {
	position: fixed;
	right: 40px;
	bottom: 40px;
	width: 40px;
	background-color: rgba(225,225,225,.1);
	z-index: 100;
}

.fixed-btn a {
	color: #fff !important;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	-moz-border-left-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	background: rgba(70, 70, 70, 0.2);
	font-size: 2em;
	margin-bottom: 3px;
}

.fixed-btn a:last-child {
	margin-bottom: 0px;
}

.fixed-btn a:hover {
	background: rgba(70,70,70,.4)
}

#backtop {
	bottom: 0;
}

#backtop:hover {
	bottom: 15px;
}

.page-qrcode:hover {
	cursor: pointer;
}

.page-qrcode:hover .qrcode-img {
	left: -128px;
	visibility: visible;
	width: 128px;
	border: 3px solid #1ba1e2;
}

.qrcode-img {
	position: absolute;
	bottom: 0px;
	width: 0px;
	visibility: hidden;
	left: 0px;
	transition: all 0.3s ease 0s;
	border: 0;
	box-sizing: border-box;
}

.page-qrcode:hover .qrcode-img::before {
	visibility: visible;
}

.qrcode-img::before {
	content: "拿起手机扫一扫";
	color: #000;
	display: block;
	background: #fff;
	font-size: 12px;
	visibility: hidden;
	overflow: hidden;
	height: 30px;
}

.error-page {
	margin-top: 100px;
	margin-bottom: 100px;
}

.error-page .entry-title {
	text-align: center;
	font-size: 3em;
}

#ramdom-posts li {
	display: block;
	height: 220px;
	width: 20%;
	float: left;
}

.aligncenter,div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none!important;
	visibility: hidden;
}

.sr-only {
	border: 0;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.sr-only.focusable:active,.sr-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.spinnerContainer {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #000;
	opacity: .3;
	display: none;
}

.spinner {
	width: 50px;
	height: 60px;
	text-align: center;
	font-size: 10px;
	margin: 150px auto;
}

.spinner > div {
	background-color: #67CF22;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% {
		-webkit-transform: scaleY(0.4)
	}

	20% {
		-webkit-transform: scaleY(1.0)
	}
}

@keyframes stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}

	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}