/* This stylesheet used in IE6, IE7 and IE8 only. */


* html #wrapper.with-left-sidebar #main {
	padding-left: 160px;
}

* html #wrapper.with-right-sidebar #main {
	width: 630px;
	padding-right: 210px;
}

* html #wrapper.with-both-sidebars #main {
	width: 630px;
	padding-left: 160px;
	padding-right: 160px;
	margin-left: 0;
}

* html #left-sidebar {
	margin-right: -150px;
}

* html #right-sidebar {
	margin-left: -200px;
}

* html .post-navi {
	zoom: 1;
}

* html .login-meta {
	font-size: 0;
	zoom: 1;
}

* html .login-meta li {
	display: inline;
}

* html .login-meta li.urltext {
	display: inline;
}

* html #search-box {
	zoom: 1;
	position: relative;
}

* html #search-box .search-field {
	width: 112px;
	height: 21px;
	line-height: 21px;
}

* html #search-box .search-button {
	position: absolute;
	right: 10px;
	top: 11px;
}

* html .widget ul li a {
	zoom: 1;
}

* html .content .post .post-content ol {
	padding-left: 10px;
}

.post-navi-prev {
	float: left
}