::selection,
::-moz-selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}

body {
  background: #eeeeee;
  font-size: 13px;
  font-family: "Lucida Grande", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #222;
  text-align: center;
}

a:link {
  color: #1ba1e2;
  text-decoration: none;
}
a:visited {
  color: #1ba1e2;
  text-decoration: none;
}
a:active {
  color: #1ba1e2;
  text-decoration: none;
}
a:hover {
  color: #f9962b;
}

i {
  color: #0093F0;
}

abbr[title] {
  border-bottom: thin dotted;
  cursor: help;
}

acronym[title] {
  border-bottom: thin dotted;
  cursor: help;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 170%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 110%;
}

h6 {
  font-size: 100%;
}

small {
  font-size: 10px;
}

strong {
  font-weight: bold;
}

blockquote {
  padding: 2px 2px 1px 15px;
  color: #555;
  background: #F4F5F7;
  border: 1px dashed #DEE9F6;
  font-size: 12px;
  margin-bottom: 8px;
}

code {
  background: #eeeeee;
  padding: 3px 5px;
  border: 1px dotted #7BA54E;
  font-family: consolas, monaco, courier new, courier, monospace;
  font-size: 12px;
}

pre {
  padding: 10px;
  margin: 0 0 10px;
  border: 1px dotted #7BA54E;
  background: #f5f5f5;
  font-family: consolas, monaco, courier new, courier, monospace;
  overflow: auto;
  clear: both;
}
pre code {
  color: #000;
  word-wrap: break-word;
  white-space: pre-wrap;
  background: transparent;
  border: 0;
  overflow-x: auto;
  padding: 0;
}

img {
  max-width: 100%;
}

address {
  margin-bottom: 20px;
  font-style: italic;
  font-size: 12px;
}

.left {
  float: left;
  margin-right: 10px;
}

.right {
  float: right;
  margin-left: 10px;
}

.box {
  background: #f9f9f9;
  border: 1px solid #dfdfdf;
  margin-bottom: 10px;
}

.textarea {
  font-size: 13px;
  font-family: "Lucida Grande", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  padding: 5px;
  width: 445px;
}

.btn {
  border: 1px solid #ccc;
  font-size: 12px;
  padding: 0 5px;
  cursor: pointer;
  height: 26px;
  box-sizing: border-box;
}
.btn-primary {
  color: #fff;
  background: #0093F0;
}
.btn-primary:hover {
  background-color: #464646;
  color: #fff;
  border-color: #464646;
}

.hidden {
  display: none;
}

.clearfix {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

#wrapper {
  width: 100%;
  text-align: left;
}

#header {
  width: 100%;
  background: #0093F0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 40px;
  margin-top: 0;
}
#header .content {
  width: 1000px;
  margin: 0 auto;
  height: 40px;
  position: relative;
}
#header .content #logo {
  font: 23px/1 "Lucida Grande", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #fff;
  position: absolute;
  top: 8px;
  left: 0;
}
#header .content #logo a {
  color: #fff;
  text-decoration: none;
}
#header .content #logo a:hover {
  color: #f9962b;
}
#header .content #nav {
  font: 13px/1 georgia, times new roman, times, serif;
  position: absolute;
  bottom: 0;
  right: 0;
}
#header .content #nav .main-menu {
  display: block;
  list-style: none;
}
#header .content #nav .main-menu > li {
  float: left;
  display: block;
  margin-left: 10px;
}
#header .content #nav .main-menu > li a {
  display: block;
  color: #fff;
  padding: 8px 10px;
  text-decoration: none;
  white-space: nowrap;
}
#header .content #nav .main-menu > li a:hover {
  background: #f1f1f1;
  color: #f9962b;
}
#header .content #nav .main-menu li .dropdown {
  display: none;
  background-color: #F9F9F9;
  position: absolute;
  list-style: none;
  padding: 0;
  right: 0;
}
#header .content #nav .main-menu li .dropdown li {
  min-width: 40px;
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}
#header .content #nav .main-menu li .dropdown li a {
  margin: 0;
  padding: 8px 10px;
  color: #1ba1e2;
  display: block;
  text-align: center;
}
#header .content #nav .main-menu li.current > a {
  background: #f1f1f1;
  color: #1ba1e2;
  font-weight: bold;
}
#header .content #nav .main-menu li.current > a:hover {
  background: #eeeeee;
  color: #f9962b;
}
#header .content #nav .main-menu li.current-cat a {
  background: #fff;
  color: #222;
}
#header .content #nav .main-menu li.current-cat a:hover {
  background: #fff;
  color: #222;
}
#header .content #nav .main-menu li.has-dropdown.block {
  background: #eeeeee;
}
#header .content #nav .main-menu li.has-dropdown.block > a {
  color: #f9962b;
}
#header .content #nav .main-menu li.has-dropdown.block .dropdown {
  display: block;
}

#topbox {
  font-size: 12px;
  padding: 6px 15px;
  width: 970px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
#topbox .welcome {
  background: url(../img/xiao16.png) no-repeat scroll 0 1px;
  padding-left: 20px;
}
#topbox .subscribe ul {
  margin: 0;
  padding: 0;
}
#topbox .subscribe ul li {
  display: inline;
  margin-left: 15px;
}
#topbox .subscribe ul li span {
  padding-left: 20px;
}

#container {
  width: 1000px;
  margin: 0 auto;
}
#container:after {
  content: ".";
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

#content {
  width: 632px;
  float: left;
  margin-left: 158px;
}
#content .notice {
  font-size: 12px;
  padding: 6px 15px;
  color: #598527;
}
#content .posthead {
  font-size: 12px;
  padding: 6px 15px;
}
#content .posthead i {
  top: 4px;
  position: relative;
  font-size: 1.5em;
}
#content .post {
  padding: 15px 0;
  position: relative;
}
#content .post-header {
  border-bottom: 1px dotted #ddd;
  padding: 0 15px;
  padding-bottom: 5px;
}
#content .post-header h2 {
  color: #545454;
}
#content .post-header .post-author-gravatar {
  float: right;
  position: absolute;
  right: 28px;
  top: 5px;
}
#content .post-header-meta {
  color: #aaa;
  height: 16px;
  margin: 13px auto auto 0;
}
#content .post-header-meta ul {
  margin: 0;
  padding: 0;
}
#content .post-header-meta ul li {
  display: block;
  float: left;
  margin-right: 25px;
  height: 16px;
  line-height: 16px;
}
#content .post-header-meta ul li a {
  color: #aaa;
  text-decoration: none;
}
#content .post-header-meta ul li a:hover {
  color: #f9962b;
}
#content .post-header-meta ul li i {
  color: #aaa;
  margin-right: 3px;
}
#content .post .post-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1;
  text-shadow: 1px 1px 2px #ccc;
}
#content .post .post-title a {
  color: #545454;
  text-decoration: none;
}
#content .post .post-title a:hover {
  color: #d54e21;
}
#content .post .post-title i {
  padding-right: 5px;
}
#content .post .post-footer {
  height: 25px;
  border-top: 1px dotted #ddd;
}
#content .post .post-footer-meta {
  color: #aaa;
  height: 16px;
  margin: 13px auto auto 15px;
}
#content .post .post-footer-meta ul {
  margin: 0;
  padding: 0;
}
#content .post .post-footer-meta ul li {
  display: block;
  float: left;
  margin-right: 25px;
  height: 16px;
  line-height: 16px;
}
#content .post .post-footer-meta ul li a {
  color: #aaa;
  text-decoration: none;
}
#content .post .post-footer-meta ul li a:hover {
  color: #f9962b;
}
#content .post .post-footer-meta ul li i {
  color: #aaa;
  margin-right: 3px;
}
#content .post .post-content {
  overflow: hidden;
  padding: 5px 15px;
  width: 600px;
  font: 13px/1.65 "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  background: #fff;
}
#content .post .post-content strong {
  color: #0093F0;
}
#content .post .post-content p {
  margin-bottom: 8px;
}
#content .post .post-content p img {
  background: #fff;
  border: 1px solid #ddd;
}
#content .post .post-content p img.wp-smiley {
  border: 0;
  padding: 0;
}
#content .post .post-content h3 {
  background: url(../img/redbg.png);
  border-left: 5px solid #0093F0;
  display: block;
  clear: both;
  margin-bottom: 10px;
  padding-left: 10px;
}
#content .post .post-content ul {
  margin-bottom: 20px;
}
#content .post .post-content ul li {
  margin-left: 20px;
  padding: 2px 0;
  list-style-type: disc;
}
#content .post .post-content ol {
  margin-bottom: 20px;
}
#content .post .post-content ol li {
  margin-left: 20px;
  padding: 2px 0;
  list-style-type: decimal;
}
#content .post .post-content .blogroll {
  margin: -20px 0 20px;
}
#content .post .post-content .blogroll ul li {
  background: url(../img/bullet_white.png) no-repeat scroll 0 4px;
  list-style-type: none;
  padding-left: 20px;
  margin-left: 0;
  float: left;
  line-height: 1.65;
  width: 30%;
}
#content .post .post-tags {
  width: 550px;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 12px;
  color: #aaa;
}
#content .post .post-tags a {
  color: #222;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 2px 5px;
  background: #FFF9E8;
}
#content .post .post-tags a:hover {
  color: #fff;
  background: #0093F0;
}
#content .post .morelink {
  float: right;
  margin-right: 10px;
}
#content .post .morelink a {
  display: block;
  width: 16px;
  height: 16px;
}
#content .post .apnavi {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.5;
}
#content .post .apnavi span {
  padding: 0 3px;
}
#content .post .tag-clouds-tpl {
  line-height: 32px;
  margin-bottom: 20px;
}
#content .post .tag-clouds-tpl a {
  margin: 0 3px;
}
#content .postnavi {
  padding: 6px 15px;
  font-size: 12px;
}
#content .postnavi i {
  font-size: 16px;
  position: relative;
  top: 2px;
}
#content .pagenavi {
  font-size: 12px;
  padding: 5px 0;
  line-height: 1.5;
}

.post-copyright {
  padding: 10px 15px;
}

#comments {
  margin-top: 14px;
  background: #f9f9f9;
  border: 1px solid #dfdfdf;
  padding: 15px;
}
#comments p {
  margin: 0 0 15px 40px;
}

.comments_box {
  padding-bottom: 10px;
  padding-right: 10px;
}

.comments_count {
  padding-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #999;
}

.comment-child {
  margin-left: 42px;
  border-top: 1px dashed #ddd;
  padding-top: 15px;
}
.comment-child .comment-reply {
  top: 15px;
}

.comment-list li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  position: relative;
}
.comment-list .comment-children li {
  border-bottom: none;
  margin-bottom: 0;
}

.comment-reply {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  line-height: 18px;
}
.comment-reply a {
  font-size: 12px;
  border: none;
  color: #888;
}
.comment-reply a:hover {
  color: #0093F0;
}

.comment-meta {
  float: left;
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}
.comment-meta a {
  color: #999;
}

.comment-author {
  float: left;
  font-size: 12px;
  height: 20px;
}
.comment-author cite.fn {
  font-style: normal;
}

.comment-body {
  overflow: hidden;
}
.comment-body p {
  margin-left: 42px;
  clear: both;
}

img.avatar {
  float: left;
  margin-right: 10px;
}

.respond {
  margin-bottom: 10px;
  padding-right: 10px;
}
.respond .cancel-comment-reply {
  float: right;
  font-size: 11px;
}
.respond .cancel-comment-reply a {
  color: #aaa;
}
.respond .cancel-comment-reply a:hover {
  color: #0093F0;
}

#comment_form p {
  font-size: 12px;
  margin: 0 0 5px;
  clear: left;
}
#comment_form label {
  font-size: 12px;
  color: #555;
  display: block;
}
#comment_form label .required {
  color: #C04E37;
  padding-left: 5px;
}
#comment_form textarea {
  font-size: 14px;
  height: 72px;
  line-height: 24px;
  padding: 3px 4px 3px 6px;
  width: 100% !important;
  box-sizing: border-box;
}
#comment_form button {
  float: right;
  font-size: 13px;
  cursor: pointer;
  width: 9%;
  text-align: center;
}

.login_meta {
  padding: 0 0 10px 1px;
  overflow: hidden;
}
.login_meta li {
  float: left;
  width: 33.3%;
  margin-bottom: 0;
}
.login_meta li label {
  padding: 5px 0;
}
.login_meta li input {
  width: 100%;
  height: 26px;
  font-size: 14px;
  padding: 5px;
  box-sizing: border-box;
}

#left-sidebar {
  float: left;
  width: 148px;
  position: absolute;
}

#right-sidebar {
  float: left;
  width: 200px;
  margin-left: 10px;
}

.sidebar {
  font-size: 12px;
}
.sidebar .widget {
  background: #f9f9f9;
  border: 1px solid #dfdfdf;
  margin-bottom: 10px;
}
.sidebar .widget .widget-title {
  font-size: 13px;
  font-weight: bold;
  padding: 5px 10px;
  color: #545454;
  text-shadow: 1px 1px 2px #ccc;
  border-bottom: 1px dotted #ddd;
}
.sidebar .widget .widget-title i {
  padding-right: 4px;
}
.sidebar .widget .widget-body {
  background: #fff;
}
.sidebar .widget .widget-browser .widget-body {
  padding: 5px 15px;
}
.sidebar .widget ul li {
  font-size: 12px;
  line-height: 23px;
  clear: both;
}
.sidebar .widget ul li a {
  padding-left: 8px;
  padding-right: 5px;
  border-bottom: solid 1px #eee;
  display: block;
}
.sidebar .widget ul li a:hover {
  background: #F8FCFE;
  color: #0093F0;
  border-left: 3px solid #0093F0;
  padding-left: 5px;
}
.sidebar .widget ul li img {
  float: left;
  height: 30px;
  width: 30px;
  margin: 3px 5px 0 5px;
}
.sidebar .widget .qrcode {
  min-height: 140px;
}
.sidebar #tagCloud .widget-body {
  padding: 5px 15px;
}
.sidebar .ram {
  padding: 5px;
}
.sidebar .ram .total {
  width: 100%;
  border: 1px solid;
}
.sidebar .ram .usage {
  height: 15px;
  background: #D6EDFF;
}

.widget ul li img.avatar {
  padding-top: 7px;
  padding-right: 5px;
}

#searchbox {
  padding: 10px;
}
#searchbox .searchfield {
  border: 1px solid #ccc;
  width: 115px;
  font-size: 12px;
  height: 26px;
  box-sizing: border-box;
}
#searchbox .searchbutton {
  border: 1px solid #ccc;
  font-size: 12px;
  padding: 0 5px;
  margin-left: -5px;
  background: #f9f9f9;
  cursor: pointer;
  height: 26px;
  box-sizing: border-box;
}
#searchbox .searchbutton:hover {
  background: #464646;
  color: #fff;
  border-color: #464646;
}

#footer {
  background: #0093F0;
  margin-top: 30px;
  color: #222;
  width: 100%;
}
#footer a {
  color: #fff;
  text-decoration: none;
}
#footer a:hover {
  color: #ccc;
}
#footer .content {
  width: 1000px;
  margin: 0 auto;
  padding: 15px 0;
  position: relative;
}
#footer .content .gotop {
  position: absolute;
  top: 0;
  right: 0;
}
#footer .content .gotop a {
  display: block;
  background: #f1f1f1;
  padding: 3px 8px;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
  color: #555;
  text-decoration: none;
}
#footer .content .gotop a:hover {
  color: #111;
}

ol.pages {
  margin: 20px 0 0 0;
  color: #666;
  list-style: none;
  font-size: 13px;
  line-height: 30px;
  font-family: "Lucida Grande", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
ol.pages li {
  margin: 0 7px 0 0;
  display: inline;
}
ol.pages li a {
  padding: 4px 8px;
  text-decoration: none;
  background-color: #F9F9F9;
  border: 1px solid #DFDFDF;
}
ol.pages li.current a {
  color: #fff;
  background-color: #0093F0;
  border: 1px solid #0093F0;
}

#tagCloud a {
  text-decoration: none;
}
#tagCloud .color0 {
  color: #2F5FC2;
}
#tagCloud .color1 {
  color: #AC1BF2;
}
#tagCloud .color2 {
  color: #9E6FC5;
}
#tagCloud .color3 {
  color: #FBA426;
}
#tagCloud .color4 {
  color: #2739CF;
}
#tagCloud .color5 {
  color: #C8A453;
}
#tagCloud .color6 {
  color: #AB2846;
}
#tagCloud .weight0 {
  font-size: 30%;
}
#tagCloud .weight1 {
  font-size: 45%;
}
#tagCloud .weight2 {
  font-size: 60%;
}
#tagCloud .weight3 {
  font-size: 75%;
}
#tagCloud .weight4 {
  font-size: 90%;
}
#tagCloud .weight5 {
  font-size: 115%;
}
#tagCloud .size0 {
  font-size: 8px;
}
#tagCloud .size1 {
  font-size: 10px;
}
#tagCloud .size2 {
  font-size: 12px;
}
#tagCloud .size3 {
  font-size: 14px;
}
#tagCloud .size4 {
  font-size: 16px;
}
#tagCloud .size5 {
  font-size: 18px;
}
#tagCloud .size6 {
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
